body {
  background-color: #041E3A;
}

#signInP1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  color: #eaeaea;
  margin: 20px;
}
#signInP1SignIn {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  color: #eaeaea;
  margin: 30px;
}
#signInP2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #cdcdcd;
  margin-bottom: 20px;
}
.signInForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
}
#registerButton {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  background-color: #124E8B;
  color: white;
  border: none;
  text-align: center;
  padding: 0 10px 0 10px;
  
}

#email,
#password {
  background-color: #8da4bb;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 16px;
  padding-left: 20px;
  outline: none;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#firstName,
#lastName {
  width: 160px;
  background-color: #8da4bb;
  border: none;
  border-radius: 16px;
  height: 40px;
  padding-left: 20px;
  outline: none;
}
#email::placeholder,
#password::placeholder,
#firstName::placeholder,
#lastName::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #3e3e3e;
}
#signUptext {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #eaeaea;
  text-align: center;
}
#signUpLink {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
